.card{
    margin: 100px;
    height: 210px;
    width: 200px;
}

.check-container{
    display: flex;
    justify-content: space-between;
    

}

.form-check{
    padding:10px 0px 10px 0px;
}

.form-check{
    margin-left: 10px;
}

.circle{
    background:yellow;
    border: 0.1875em solid #0F1C3F;
    border-radius: 50%;
    box-shadow: 0.375em 0.375em 0 0 rgba(15, 28, 63, 0.125);
    height: 10px;
    width: 10px;
}